<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/htmx.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script type="text/javascript">
        hljs.highlightAll();
    </script>
    <title>Document</title>
</head>
<body>
    <main>
        <h1>hx-trigger属性</h1>
        <div>
            <ul>
                <li>
                    click
                </li>
                <li>
                    change
                </li>
                <li>
                    mouseover
                </li>
                <li>
                    mouseenter
                </li>
                <li>
                    focus
                </li>
            </ul>
        </div>
        <h2>mouseenterの例</h2>
        <h3>コード</h3>
        <pre>
            <code class="language-html">
                &lt;div hx-post="/mouse_entered"
                    hx-trigger="mouseenter"
                &gt;
                    [Here Mouse, Mouse!]
                &lt;/div&gt;
            </code>
        </pre>
        <h3>実物</h3>
        <div hx-post="/mouse_entered"
            hx-trigger="mouseenter"
        >
            [Here Mouse, Mouse!]
        </div>
    </main>
</body>
</html>
